{% extends "base.html" %}

{% block title %}预订滑板车-{{ scooter.name }}{% endblock %}

{% block content %}
    <h1>预订滑板车：{{ scooter.name }}</h1>
    <div>
        <div>基础小时单价（¥/小时）：¥{{ scooter.price_per_hour }}</div>
        <div>最低起租小时数：¥{{ scooter.min_hire_hours }}</div>
    </div>

    <form action="{% url 'submit_order' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="scooter_id" value="{{ scooter.id }}">

        <div>
            <label>选择租赁时长：</label>
            <input type="number" name="hire_period" min="{{ scooter.min_hire_hours }}" value="{{ scooter.min_hire_hours }}" required>小时（最低 {{ scooter.min_hire_hours }} 小时）
        </div>

        <button type="submit">确认预订</button>
    </form>

    <a href="{% url 'index' %}">返回首页</a>
{% endblock %}