{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    <div>
        <h1>欢迎你，{{ username }}</h1>
        {% if user.is_superuser %}
            <a href="/admin/">管理员后台</a>
            <a href="{% url 'weekly_income' %}">周收入统计</a>
        {% endif %}
        {% if user.is_staff %}
            <a href="{% url 'staff_create_booking' %}">员工代客下单</a>
        {% endif %}
        <a href="{% url 'my_orders' %}">我的订单</a>
        <a href="{% url 'card_list' %}">我的银行卡</a>
        <a href="{% url 'feedback_create' %}">提交故障反馈</a>
        <a href="{% url 'my_feedback' %}">查看我的反馈</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">退出登录</button>
        </form>
    </div>
    <br>
    <div>
        <h2>可租赁滑板车列表</h2>
        {% for scooter in scooters %}
            <div>
                <div>滑板车编号：{{ scooter.name }}</div>
                <div>
                    <div>基础小时单价（¥/小时）：¥{{ scooter.price_per_hour }}</div>
                    <div>最低起租小时数：¥{{ scooter.min_hire_hours }}</div>
                </div>
                <div>
                    <span>可租</span>
                    <a href="{% url 'create_order_page' scooter.id %}">立即预订</a>
                </div>
                <br>
            </div>
        {% empty %}
            <p>暂无可用的滑板车</p>
        {% endfor %}
    </div>
{% endblock %}